.table {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 2rem 0rem 0rem 0rem;
    max-width: 1100px;
}

.tableCell {
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
    padding: 0.8em 1.2em;
    overflow: hidden;
    list-style-type: none;
    outline: 1px solid #ddd;
    text-align: center;
    font-weight: 300;
    margin-top: 1px;
    margin-left: 1px;
}
/* 
.tableCell:first-child {
    outline: 1px solid #fff;
    background: transparent;
}
 */
@media only screen and (max-width: 768px) {
    .tableCell:first-child {
        display: none;
    }
}
/* 
.tableCell:nth-child(3) {
    outline: 1px solid #30305b;
} */

.tableCell:nth-child(-n + 3) {
    padding-top: 40px;
    padding-bottom: 40px;
}
.tableCell > h3 {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 3rem;
}
.tableCell.cellFeature {
    text-align: left;
    font-size: 18px;
}

.tableCell.header {
    color: black;
}
/* 
.tableCell.platform {
    color: limegreen;
}

.tableCell.platform a.btn {
    color: limegreen;
}

.tableCell.platform a.btn:hover {
    background-color: limegreen;
    border-color: limegreen;
    color: white;
}
*/
/* 
.tableCell.enterprise {
    background-color: #30305b;
    color: #85bafc;
}
.tableCell.enterprise a.btn {
    color: #85bafc;
}
.tableCell.enterprise a.btn:hover {
    background-color: #85bafc;
    border-color: #85bafc;
    color: #30305b;
} 
*/

/* Table columns
  ================================== */
.tableCell {
    width: calc(33.33% - 1px);
}
@media only screen and (max-width: 768px) {
    .tableCell.cellFeature {
        width: 100%;
        text-align: center;
    }
}
