.topNavContainer {
    background-color: #f1c40f;
}

.topNav {
    display: flex;
    align-items: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px;
}

.topNav .navHeadingContainer {
    align-items: center;
}

.topNav .navHeadingContainer h1 {
    font-size: 24px;
}

.topNav .navItemsContainer {
    flex-grow: 1;
    display: flex;
    justify-content: end;
}

.topNav .navItemsContainer .navItem {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.topNav .navItemsContainer .navItem .navDropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.topNav .navItemsContainer .navItem:hover .navDropdownContent{
    display: block;
}

.sideNav {
    text-align: center;
    min-width: 200px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #f1c40f;
}

.sideNav .sideItem {
    padding: 20px 40px;
    text-decoration: none;
    color: black;
}


.bgContainer {
    min-height: 100vh;
    display: flex;
}

.mainContainer {
    flex-grow: 1;
    padding: 40px;
}
