.topNavContainer {
    background-color: #f1c40f;
}

.topNav {
    display: flex;
    align-items: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px;
}

.topNav .navHeadingContainer {
    align-items: center;
}

.topNav .navHeadingContainer h1 {
    font-size: 24px;
}

.topNav .navItemsContainer {
    flex-grow: 1;
    display: flex;
    justify-content: end;
}

.topNav .navItemsContainer .navItem {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.topNav .navItemsContainer .navItem .navDropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    flex-direction: column;
}

.topNav .navItemsContainer .navItem:hover .navDropdownContent{
    display: flex;
}

.topNav .navItemsContainer .navItem .navDropdownContent .navDropdownItem {
    padding: 10px;
    text-decoration: none;
    color: rgb(85, 85, 85);
}

.topNav .navItemsContainer .navItem .navDropdownContent .navDropdownItem:hover {
    color: #000;
}

.sideNav {
    text-align: center;
    min-width: 200px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #f1c40f;
}

.sideNav .sideItem {
    padding: 20px 40px;
    text-decoration: none;
    color: black;
}

.sideNav .sideItem:hover {
    color: #fff;
}

.topNav .navItemsContainer .navItem .profileIconContainer {
    border: 2px solid rgb(0, 0, 0);
    border-radius:40%;
    padding: 10px;
}


.bgContainer {
    flex-grow: 1;
    display: flex;
}

.mainContainer {
    flex-grow: 1;
    padding: 40px;
    overflow-y: auto;
}

.topLevelContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}