
.table {
    border-collapse: collapse;
    margin: 50px auto;
}

.table th,
.table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 14px;
}

.table tr:nth-child(even) {
    background-color: #fcefc1;
}
